// フォーム
//--------------------------
$cr-form-bd: #000; //フォームのボーダーカラー
$cr-form-bg: #888; //フォーム入力欄の背景色
$cr-form-bd-active: red; //アクティブなフォームのボーダーカラー
$cr-radio: #bfbfbf; //ラジオボタン
$cr-radio-active: red; //アクティブなラジオボタン
$size-radio: 20px; //ラジオボタンのサイズ
$size-radio-active: 10px; //チェックされたブラジオボタンのサイズ
$size-radio-pd-left: 24px; //ラジオボタンとテキストの余白
$cr-checkbox: #bfbfbf; //チェックボックスのカラー
$cr-check-active: red; //チェックされたチェックボックスのカラー
$size-checkbox: 20px; //チェックボックスのサイズ
$size-checkbox-pd-left: 24px; //チェックボックスの余白
