@use "../global" as g;

// フォント
//--------------------------
.u-fontFamily-serif {
  font-family: "Noto Serif JP";
}

// カラー
//--------------------------
.u-color-accent {
  color: g.$cr-a;
}

// テキスト折り返さない
//--------------------------
.u-white-space {
  white-space: nowrap;
}

// テキスト折り返さない
//--------------------------
.u-inline-block {
  display: inline-block;
}
