@use "../global" as g;

.c-btn {
	display: inline-block;
	padding: 1em 2em;
	border: 1px solid #fff;
	color: #fff;
	width: 370px;
	font-size: 20px;
	font-weight: 700;
	max-width: 100%;
	transition: all 0.3s ease 0s;
	text-align: center;

	&:hover {
		background: #fff;
		color: #000;
	}
}
